matplotlib
networkit==10.1
networkx==2.8.8
numpy==1.24.4
optuna==3.5.0
pandas==1.5.3
scikit_learn
torch==2.1.2
torch-cluster==1.6.3
torch-scatter==2.1.2
torch-sparse==0.6.18
torch-spline-conv==1.2.2
torch_geometric==2.4.0
torchaudio==2.1.2
torchdata==0.7.1
torchvision==0.16.2