matplotlib-inline=0.1.7
networkit=11.0
networkx=3.4.1
numpy=1.26.4
optuna=4.0.0
pandas=2.2.3
pyg-lib=0.4.0
scikit-learn=1.5.2
scipy=1.14.1
sympy=1.13.1
torch-cluster=1.6.3
torch-geometric=2.6.1
torch-scatter=2.1.2
torch-sparse=0.6.18
torch-spline-conv=1.2.2
torch=2.5.0
tqdm=4.66.5
wheel=0.44.0